:root {
    --cor-labirinto: ;
    --tamanho: 50px;
}

body {
    background: url(./imagens/fundo.jpg)
}

header {
    text-align: center;
    color:orange;
    margin-bottom: 20px;
}

header h1 {
    font-size: 120px;
}

img {
    width: 100%;
    height: 100%;
}

header p {
    font-size: 40px;
}

#jogador {
    height: var(--tamanho);
    width: var(--tamanho);
}

.linha {
    border: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.parede, .caminho, .largada, .chegada {
    height: var(--tamanho);
    width: var(--tamanho);
}

.parede {
    background-image: 
    repeating-linear-gradient(to bottom, brown 0, orange 5px, transparent 5px, transparent 10px),
    repeating-linear-gradient(to right, brown 0, brown 5px, orange 5px, brown 10px);
}

.caminho {
    background: url(./imagens/anel.png);
}

.chegada {
    background: url(./imagens/amy_rose.png);
}

.vitoria {
    float: center;
    align-items: center;
    margin: 0 auto;
}